
.spacer {
    flex: 1 1 auto;
}
.menu-header{
    display: flex;
    flex-direction: row-reverse;
    align-items:baseline;
    padding-top: 12vh;
    background-color:mintcream ;
}
.title{
    font-weight: bold;
}
mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

mat-drawer {
    // margin: 16px;
    width: 200px;
    border-right: none;
    // background: $drawer-bkg-color;
    margin-top: 12vh;
    text-align: center;
}
.mainContent{
    background-color: white;
    height: 95%;
    width: 95%;
    margin:auto;
    border-radius: 10px;
}
mat-drawer-container{
    height:100vh;
    padding-top:7%;
}

.menu-container{
  padding: 3vh 5vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}
.menu-btn{
    margin-left: 5vh;
    margin-bottom: 2vh;
    background-color:#B6C9F0;
    width: fit-content;
    height: 50px;
    // #B8DFD8
    // #B6C9F0
    // #CDC7BE
  }


mat-accordion{
    padding-top: 8%;
    display: flex;
    flex-direction: column;
}

.sideBtn{
    margin-top: 7px;
    height: 70px;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
  mat-drawer {
    margin-top: 0;
  }
  mat-drawer-container{
      padding-top: 0;
  }
  .mainContent{
      width: auto;
  }
}


tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  table {
    width: 100%;
  }
  th{
      font-weight: bold;
      color: black;
  }
  td{
    word-break: break-word;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }

  .expandedDetails{
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
  }
  .dets{
    margin: 15px;
    width: 20%;
  }
  .box{
    border: solid; 
    border-width: 1px; 
    border-color: gainsboro;
  }
.currN{
  margin-top: auto;
  margin-bottom: auto;
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}
.mailBtn{
  font-weight: bold;
  height: 50px;
}
#matErr{
  font-size: smaller;
}