.bkg-img{
  background: url('https://firebasestorage.googleapis.com/v0/b/simhatv2test.appspot.com/o/images%2Fvolunteer2.png?alt=media&token=a39e9974-60ec-49e0-a224-cbd10e098f39') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
mat-card {
  // display:inline-block;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  // margin: 5em auto;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  mat-card{
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  mat-card{
    width: 80%;
  }
}

mat-card-content{
  margin-top: 40px;
}

mat-card-title{
  font-weight: bolder;
}
  
mat-form-field {
  display: block;
  margin: 10px;
  margin-bottom: 0;
}
.reg{
  color: blue;
}

.forgotBtn{
  border: none;
  background-color: white;
  text-decoration: underline;
  color: #d65c47;

}
.forgot{
  float: left;
  margin-bottom: 15px;
  margin-right: 10px;
}

.forgot :hover{
  cursor: pointer;
}
.loginBtn{
  width: 100%;
  background-color: #417172;
}
