<div dir="rtl" class="bkg-img">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>

    <div class="welcome-wrapper">
        <!-- <div class="spacer" fxHide fxShow.lt-md></div> -->
        <div class="welcome">הגיל השלישי זה אנחנו
            <div fxHide.lt-sm class="spacer"></div>
            <div fxHide.lt-md fxShow.lt-sm class="spacer"></div>
            <div class="welcome-info">
                המחלקה לגיל השלישי, מינהל תרבות ספורט וחברה, רחוב יפו 19, טל׳ 02-6981366.
                <br>
                המחלקה מפעילה מגוון פעילויות פנאי ומיזמים אשר מעניקים עולם של חדשנות, יצירתיות, בריאות ותרבות, פעולות
                המכוונות להעשרה, מניעת בדידות, קידום בריאות ואקטיביזים.
                <br>

                בעיר פרוסים מרכזים חברתיים ומועדונים לגיל השלישי ומרכז התמחות ותרבות ייחודיים, המהווים רשת חברתית תומכת
                ומחבקת לכלל המגזרים, כך שכל תושב ותיק יכול למצוא עניין, משמעות ושייכות.
            </div>
            <div class="spacer"></div>
            <div class="btnsAndPic">
                <img fxHide fxShow.lt-md src="../../assets/imgs/prev.png">
                <div class="spacer"></div>
                <div class="btn-wrapper">
                    <button class="main-btn" mat-raised-button color="accent">להרשמה</button>
                    <button class="main-btn" mat-raised-button color="accent">שלח הודעה</button>
                </div>
            </div>
        </div>
        <img fxHide.lt-md class="side-img" src="../../assets/imgs/prev.png">
    </div>
</div>

<div class="spacer"></div>

<p-carousel [value]="events" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <div dir="rtl" class="vol-header">אירועים
            <div class="addBtn" *ngIf="authService.isLoggedIn && isAdmin" (click)="openDialog('Add',{}, undefined)">הוסף
                אירוע</div>
        </div>

    </ng-template>

    <ng-template let-currEvent pTemplate="item">
        <div class="vol-item">
            <div class="vol-item-content">
                <div class="p-mb-3"></div>
                <div>
                    <div class="p-mb-3">
                        <img src="{{currEvent.img}}" [alt]="currEvent.title" class="vol-image" />
                    </div>
                    <h4 class="p-mb-1">{{currEvent.name}}</h4>
                    <h6 class="p-mt-0 p-mb-3">{{currEvent.description}}</h6>
                    <h6 class="p-mt-0 p-mb-3">click for more info</h6>
                    <mat-icon *ngIf="authService.isLoggedIn && isAdmin" (click)="openDialog('Delete',{}, currEvent.id)"
                        style="color:red; cursor: pointer;">
                        delete
                    </mat-icon>
                    <!-- <div class="addBtn" *ngIf="authService.isLoggedIn && isAdmin"
                        (click)="openDialog('Add',{}, currEvent.id)">הוסף אירוע</div> -->

                </div>
            </div>
        </div>
    </ng-template>

</p-carousel>

<div class="spacer"></div>

<footer dir="rtl">
    <!-- <div class="app-footer"> -->
    <!-- <div class="social-icons">
            <mat-icon>facebook</mat-icon>
            <mat-icon>instagram</mat-icon>
        </div> -->
    <div class="footer-links-wrapper">
        <a href class="footer-links">קצת עלינו</a>
        <a href class="footer-links">צור קשר</a>
        <a href class="footer-links">פניה להנהלת האתר</a>
    </div>
    <img class="footer-img" src="../../assets/imgs/people_transparent.png">

</footer>