<!--breakpoints: https://github.com/angular/flex-layout/issues/821 -->
<div class="all" dir="rtl">
    <mat-toolbar fxLayout="row" class="fixed-toolbar">
        <span fxFlex routerLink="/" style="cursor: pointer;"><img class="logoImg"
                src="../../assets/imgs/logo.png"></span>
        <ng-container *ngIf="!isSmall">
            <div routerLink={{item.route}} *ngFor="let item of menuItems">
                <ng-container
                    *ngIf="( (item.admin && authService.isLoggedIn && isAdmin) ||
                    (item.requireLogIn && !item.admin && authService.isLoggedIn && !isAdmin) || (item.requireLogOut && !authService.isLoggedIn) || item.showAll)">
                    <button mat-button>
                        {{item.label}}
                    </button>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="!authService.isLoggedIn">
            <button routerLink="/signin" mat-stroked-button class="loginBtn">כניסה</button>
        </ng-container>
        <ng-container *ngIf="authService.isLoggedIn">
            <button (click)="logOut()" class="logoutBtn" mat-stroked-button>יציאה</button>
            <mat-divider></mat-divider>
        </ng-container>

        <button mat-icon-button [matMenuTriggerFor]="dropMenu" *ngIf="isSmall">
            <mat-icon>more_vert</mat-icon>
        </button>
        <!-- add signin/sign out outside menu -->
        <mat-menu #dropMenu="matMenu">
            <div routerLink={{item.route}} *ngFor="let item of menuItems">
                <ng-container
                    *ngIf=" ( !item.admin || (item.admin && authService.isLoggedIn && isAdmin  ) ) 
                && ((item.requireLogIn && authService.isLoggedIn) || (item.requireLogOut && !authService.isLoggedIn || item.showAll))">
                    <button mat-menu-item>
                        <mat-icon>{{item.icon}}</mat-icon>
                        {{item.label}}
                    </button>
                    <mat-divider></mat-divider>
                </ng-container>
            </div>
        </mat-menu>
    </mat-toolbar>
</div>
