<div class="scroll-wrapper" cdkScrollable>

<mat-toolbar class="sticky-toolbar" >

    <span>App name</span>
    <span class="spacer"></span>
    <button mat-button  routerLink="/projectsTracking">מעקב מיזמים</button>
    <button mat-button routerLink="/needs">מענים</button>
    <button mat-button routerLink="/home">דף הבית</button>
    <button *ngIf="!authService.isLoggedIn"  mat-button routerLink="/signup">רישום</button>
    <button *ngIf="!authService.isLoggedIn" mat-button  routerLink="/signin">
        <mat-icon>login</mat-icon>
        כניסה</button>
    <!-- <nav>
        <a routerLink="/projectsTracking">מעקב מיזמים</a>
    </nav> -->
    <button *ngIf="authService.isLoggedIn"  mat-button (click)="logOut()" >יציאה</button>
</mat-toolbar>

</div>

