$background: #24272a;
.spacer {
    flex: 1 1 auto;
}

.fixed-toolbar {
    display:contents;
    position: absolute;
    // top: 0;
    z-index: 999;
    // background-color: transparent;
    // background: -webkit-linear-gradient(to right, #0000, #ffff);  /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to right, #0000, #ffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // color: whitesmoke;
    min-height: 12vh;
    background-color: $background;
}

button{
    font-size: large;
    color:seashell;
    margin: 5px;

}

.logoutBtn{
    background-color: red;
}
.logoImg{
    background-blend-mode: soft-light;
}

@media screen and (max-height: 640px) {
    .logoImg{
        width: 100px;
        height: 30%;
    }
}

mat-menu{
    z-index: 9999;
}

::ng-deep .color{
    background: $background;
}
