<mat-drawer-container>
  <mat-drawer mode="side" class=mat-elevation-z8 position="end" dir="rtl">
    <h2 class="contentTitle">תוכן צרכים</h2>
    <ol class="listOfContents">
      <li *ngFor="let item of items  | async let i=index">
        <a (click)="scroll('item'+i)">{{item.title}}</a>
      </li>
    </ol>
    <button *ngIf="authService.isLoggedIn && isAdmin" class="add" (click)="addDialog('Add',{},'collection')">+</button>
  </mat-drawer>

  <mat-drawer-content id="mainContent" dir="rtl">

    <div *ngIf="!isAdmin" class="mat-elevation-z8 bot">
      <h2 style="color: white; font-weight: bold;">רוצה להקיל על עצמך ולקבל פרטים על המענים שמעניינים אותך בלי לחפש ?
        רשום את המספר שלך עכשיו ותהנה מהשירות!</h2>
      <form [formGroup]="numberForm" >
        <input class="phoneNum" formControlName="pName" placeholder="שם">
        <input class="phoneNum" formControlName="phoneNum" placeholder="הכנס מס' טלפון..">
        <button  mat-raised-button  (click)="sendSms()">שלח!</button>
      </form>
    </div>
    <mat-accordion>
      <div *ngFor="let item of items | async let i=index" id="{{'item'+i}}" class="panelBox">
        <div *ngIf="authService.isLoggedIn && isAdmin" class="icons">
          <mat-icon (click)="addDialog('Update',item,'collection')">edit</mat-icon>
          <mat-icon class="delete" (click)="addDialog('Delete',item,'collection')">delete</mat-icon>
        </div>
        <mat-expansion-panel class="cards" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="panelHeader">
            <mat-panel-title>
              <p class="serviceTitle">{{item.title}}</p>
            </mat-panel-title>
            <mat-panel-description>
              לחץ עליי להצגת מענים!
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="answersContentBox">
            <div *ngFor="let content of item.content; index as i" class="answersBox">
              <mat-icon *ngIf="authService.isLoggedIn && isAdmin" class="answersDelete"
                (click)="addDialog('Delete',item,'doc',content)">do_not_disturb_on
              </mat-icon>
              <div class="answersContent"
                [ngClass]="{ 'first': i%4===0,'second' : i%4===1,'third':i%4===2,'fourth':i%4==3}"
                [innerHTML]="content | prettyPrint">
                {{content}}
              </div>
              <mat-icon *ngIf="authService.isLoggedIn && isAdmin" (click)="addDialog('Update',item,'doc',content)">edit
              </mat-icon>
            </div>
          </div>
          <button *ngIf="authService.isLoggedIn && isAdmin" class="answersAdd"
            (click)="addDialog('Add',item,'doc')">+</button>

        </mat-expansion-panel>

      </div>
    </mat-accordion>


  </mat-drawer-content>

</mat-drawer-container>