<mat-drawer-container>

  <mat-drawer mode="side" class=mat-elevation-z8 position="end" dir="rtl">
    <h2 class="contentTitle">תוכן צרכים</h2>
    <ol class="listOfContents">
      <li *ngFor="let item of items  | async let i=index">
        <a (click)="scroll('item'+i)">{{item.title}}</a>
      </li>
    </ol>
    <button class="add" (click)="addDialog('Add',{},'collection')">+</button>
  </mat-drawer>

  <mat-drawer-content id="mainContent" dir="rtl">
    <mat-accordion>
      <div *ngFor="let item of items | async let i=index" id="{{'item'+i}}" class="panelBox">
        <div class="icons">
          <mat-icon (click)="addDialog('Update',item,'collection')">edit</mat-icon>
          <mat-icon class="delete" (click)="addDialog('Delete',item,'collection')">delete</mat-icon>
        </div>
        <mat-expansion-panel class="cards" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="panelHeader">
            <mat-panel-title>
              <p class="serviceTitle">{{item.title}}</p>
            </mat-panel-title>
            <mat-panel-description>
              לחץ עליי להצגת מענים!
            </mat-panel-description>

          </mat-expansion-panel-header>
          <div class="answersContentBox">
            <div *ngFor="let content of item.content; index as i" class="answersBox">
              <mat-icon class="answersDelete" (click)="addDialog('Delete',item,'doc',content)">do_not_disturb_on
              </mat-icon>
              <div class="answersContent"
                [ngClass]="{ 'first': i%4===0,'second' : i%4===1,'third':i%4===2,'fourth':i%4==3}">
                {{content}}
                <mat-icon class="sss" (click)="addDialog('Update',item,'doc',content)">edit</mat-icon>
              </div>
            </div>
          </div>
          <button class="answersAdd" (click)="addDialog('Add',item,'doc')">+</button>


        </mat-expansion-panel>

      </div>
    </mat-accordion>

    <!-- <div class="bot"> רוצה להנות מהבוט שלנו בווטאפ ? :) שלח הודעה עכשיו למספר :054-!</div> -->

  </mat-drawer-content>

</mat-drawer-container>
