.title{
    text-align: center;
    margin: 10px;
    text-decoration: underline;
}
section{
    margin: 50px;
}
.form{
    background-color: #FDFDFD;
    display: flex;
    flex-wrap: wrap;
    min-height: 30vh;
    justify-content: space-evenly;
}
.emailAndPassword{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.label{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    flex: 1;
    flex-basis:25%;
}
.labelP{
    font-weight: bold;
    font-size: 17px;
    color:#454545;
    margin: 0;
}

.next{
    background-color:#48BF92 ;
    width: 15%;
    font-weight: bolder;
    // margin-right: 17%;
    float: left;
}
.lastErr{
    display: flex;
    flex-direction: column;
    float: left;
}

.back{
    background-color:#FF442F ;
    width: 15%;
    font-weight: bolder;
    // margin-right: 17%;
    float: right;
}

mat-checkbox{
    margin-right: 20px;
}
h3{
    font-weight: bold;
    margin:0px;
}

.checks{
    margin-right: 8px;
    font-size: 14px;
}
.checBox{
    height: 15px;
    width: 20px;
}
.checksLabel{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis:25%
}
.err{
    margin-top:-4px;
}

.createUserBtn{
    font-weight: bold;
    height: fit-content;
    align-self: auto;
    background-color: #48BF92;
    color: #FDFDFD;

}


@media screen and (max-width: 800px) {
    section{
        margin: 0;
    }
    form{
        min-height: 0;
    }

}
