<h1 class="title">
 הפרטים ישארו חסויים במיזם
</h1>
 <section>
  <mat-horizontal-stepper  #stepper dir="rtl">

      <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">

        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>יצירת חשבון</ng-template>




          <div class="label">
            <p class="labelP">כתובת דוא"ל</p>
          <mat-form-field appearance="outline" floatLabel='never' >
            <input matInput placeholder="הקלד כאן.." formControlName="firstCtrl" required>
          </mat-form-field>
        </div>

        <div class="label">
        <p class="labelP">סיסמא</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="הקלד כאן.." formControlName="firstCtrl" required [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

      </form>
      <button class="next" mat-button matStepperNext>הבא -></button>
        

      </mat-step>

      <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">

        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>פרטים אישיים</ng-template>
                      
          <div class="label">
            <mat-form-field appearance="outline">
              <mat-label>שם פרטי</mat-label>
              <input matInput placeholder="הקלד כאן.." formControlName="secondCtrl" required>
            </mat-form-field>
          </div>

        <div class="label">
          <mat-form-field appearance="outline">
            <mat-label>שם משפחה</mat-label>
            <input matInput placeholder="הקלד כאן.." formControlName="secondCtrl" required>
          </mat-form-field>
        </div>

        <div class="label">
          <mat-form-field appearance="outline">
            <mat-label>מספר פלאפון</mat-label>
            <input matInput placeholder="הקלד כאן.." formControlName="secondCtrl" required>
        </mat-form-field>
      </div>

      <div class="label">
        <mat-form-field appearance="outline" >
          <mat-label>עיר מגורים</mat-label>
          <input matInput disabled  value="ירושלים"  >
        </mat-form-field>
      </div>

      <div class="label">
        <mat-form-field appearance="outline">
          <mat-label>שכונה</mat-label>
          <input matInput placeholder="הקלד כאן.." [matAutocomplete]="auto" [formControl]="exists"  required>

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of states " [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>

          <mat-error *ngIf="exists.invalid">{{getErrorMessage()}}</mat-error>
          
        </mat-form-field>
      </div>

      


      <div class="label">
        <mat-form-field appearance="outline">
          <mat-label>רחוב</mat-label>
          <input matInput placeholder="הקלד כאן.." formControlName="secondCtrl" required>
        </mat-form-field>
      </div>

      <div class="label">
        <mat-form-field appearance="outline">
          <mat-label>גיל</mat-label>
          <input matInput placeholder="הקלד כאן.." formControlName="secondCtrl" type="number"  required>
        </mat-form-field>
      </div>
      
      <div class="label">
      <mat-form-field appearance="outline">
          <mat-label>מגדר</mat-label>

          <mat-select >
            <mat-option value="male">זכר</mat-option>
            <mat-option value="female">נקבה</mat-option>
            <mat-option value="none">לא רלוונטי</mat-option>
          </mat-select>
          </mat-form-field>
      </div>
      </form>

      <div>
        <button class="next" mat-button matStepperNext>הבא -></button>
        <button class="back" mat-button matStepperPrevious>אחורה</button>
      </div>

      </mat-step>

      <mat-step [stepControl]="thirdFormGroup" errorMessage="Address is required.">

        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>תחומי עיניין</ng-template>

          <div class="label">
              <h3>תחומי עיניין</h3>
              <p><mat-checkbox >שליטה</mat-checkbox></p>
              <p><mat-checkbox  > בשפות</mat-checkbox></p>
              <p><mat-checkbox  >בשפות</mat-checkbox></p>
            
          </div>

          <div class="label">
            <h3>שליטה בשפות</h3>
            <p><mat-checkbox >שליטה</mat-checkbox></p>
            <p><mat-checkbox  > בשפות</mat-checkbox></p>
            <p><mat-checkbox  >בשפות</mat-checkbox></p>
        </div>

        <div class="label">
            <h3>מעוניין להיפגש עם</h3>
            <p><mat-checkbox >נשים בלבד</mat-checkbox></p>
            <p><mat-checkbox  > גברים בלבד</mat-checkbox></p>
            <p><mat-checkbox  >אין העדפה</mat-checkbox></p>
        </div>

        <div class="label">
          <h3> ספר לנו קצת על עצמך <mat-icon >sentiment_very_satisfied</mat-icon> </h3>
          <textarea id="" cols="30" rows="10"></textarea>
        </div>

        </form>
        <div>
          <button class="next" mat-button matStepperNext>הבא -></button>
          <button class="back" mat-button matStepperPrevious>אחורה</button>
        </div>

      </mat-step>
      
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>אחורה</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
</section>