<div class="body">
  <h2 mat-dialog-title><strong>{{dialogTitle}}</strong></h2>

  <div mat-dialog-content>
    <form #projForm="ngForm" class="frm">

      <ng-container
        *ngIf="(dialogType === 'needs' || dialogType === 'resetPass') && action != 'Delete'; else projectTemplate">
        <mat-form-field>
          <textarea required name="name" matInput [(ngModel)]="local_data.name" #name="ngModel"></textarea>
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors?.required">
              שדה זה הינו חובה.
            </div>
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-template #projectTemplate>
        <ng-container *ngIf="dialogType === 'project' && newProj && action != 'Delete'; else neighbTemplate">
          <mat-form-field appearance="fill">
            <mat-label>{{actionHebrew[action]}} תאריך</mat-label>
            <input matInput required id="date" name="date" [matDatepicker]="picker" [(ngModel)]="newProj.date"
              #date="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>

            <mat-error *ngIf="date.invalid && (date.dirty || date.touched)">
              <div *ngIf="date.errors?.required">
                שדה התאריך הינו חובה.
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>פרויקט מתמשך?</mat-label>
            <mat-select required [(ngModel)]="newProj.continuous" name="continuous">
              <mat-option value="כן">
                כן</mat-option>
              <mat-option value="לא">
                לא</mat-option>
            </mat-select>
            <mat-error>שדה חובה</mat-error>
          </mat-form-field>

          <mat-label><b>{{actionHebrew[action]}} מועדון </b>*</mat-label>
          <br>
          <mat-error>חובה לבחור לפחות מועדון אחד</mat-error>
          <span>
            <ul class="checkBoxes">
              <li *ngFor="let clubCoord of local_data.clubs">
                <mat-checkbox [checked]="clubCoord.currentValue" name="clubCoords" [(ngModel)]="clubCoord.currentValue" #clubCoords="ngModel">
                  {{clubCoord.name}}
                  <br *ngIf="clubCoord.name && clubCoord.club">{{clubCoord.club}}
                  <br *ngIf="(clubCoord.name || clubCoord.club) && clubCoord.address">{{clubCoord.address}}
                </mat-checkbox>
              </li>
            </ul>
          </span>

          <mat-form-field>
            <input matInput id="projectType" name="projectType" required placeholder="{{actionHebrew[action]}} סוג מיזם"
              [(ngModel)]="newProj.projectType" #projectType="ngModel">
            <mat-error *ngIf="projectType.invalid && (projectType.dirty || projectType.touched)">
              <div *ngIf="projectType.errors?.required">
                שדה סוג מיזם הינו חובה.
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>מצב ?</mat-label>
            <mat-select [(ngModel)]="newProj.status" name="status">
              <mat-option value="פתוח">
                פתוח</mat-option>
              <mat-option value="סגור">
                סגור</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput id="comments" name="comments" placeholder="{{actionHebrew[action]}} הערות"
              [(ngModel)]="newProj.comments"></textarea>
          </mat-form-field>

        </ng-container>
      </ng-template>


      <ng-template #neighbTemplate>
        <ng-container *ngIf="dialogType === 'neighb' && newNeighb && action != 'Delete'; else coordTemplate">

          <mat-form-field>
            <textarea required name="id" matInput placeholder="{{actionHebrew[action]}} שם השכונה"
              [(ngModel)]="newNeighb.id" #id="ngModel"></textarea>
            <mat-error *ngIf="id.invalid && (id.dirty || id.touched)">
              <div *ngIf="id.errors?.required">
                שדה זה הינו חובה.
              </div>
            </mat-error>
          </mat-form-field>

          <mat-label><b>{{actionHebrew[action]}} מנהל תחום </b>*</mat-label>
          <mat-radio-group name="managerId" [(ngModel)]="newNeighb.managerId">
            <mat-radio-button *ngFor="let manager of local_data.managers" [value]="manager.id">
              {{manager.name}}<br>{{manager.phone}}<br>{{manager.email}}
            </mat-radio-button>
          </mat-radio-group>

        </ng-container>
      </ng-template>

      <ng-template #coordTemplate>
        <ng-container *ngIf="(dialogType === 'areaCoord' || dialogType === 'clubCoord' || dialogType === 'manager') 
         && newUser && action != 'Delete'; else editEventsTemplate">

          <ng-container *ngIf="dialogType === 'areaCoord' || dialogType === 'manager'">
            <mat-error *ngIf="invalidCreation">המייל שהוכס כבר קיים</mat-error>
            <mat-form-field>
              <input type="email" name="email" matInput placeholder="{{actionHebrew[action]}} מייל"
                [(ngModel)]="$any(newUser).email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
              <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors?.required">
                  שדה זה הינו חובה.
                </div>
                <div *ngIf="email.errors?.pattern">המייל שהוכס אינו תקין</div>
              </mat-error>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="dialogType === 'areaCoord' ">
            <mat-form-field>
              <textarea required name="password" matInput placeholder="{{actionHebrew[action]}} סיסמא"
                [(ngModel)]="newPassword" #password="ngModel"></textarea>
              <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.required">
                  שדה זה הינו חובה.
                </div>
              </mat-error>
            </mat-form-field>
          </ng-container>

          <mat-form-field>
            <textarea required name="name" matInput placeholder="{{actionHebrew[action]}} שם" [(ngModel)]="newUser.name"
              #name="ngModel"></textarea>
            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
              <div *ngIf="name.errors?.required">
                שדה זה הינו חובה.
              </div>
            </mat-error>
          </mat-form-field>

          <ng-container *ngIf="dialogType === 'clubCoord'">
            <mat-form-field>
              <input type="text" pattern="\d*" name="coordPhone" matInput
                placeholder="{{actionHebrew[action]}} מספר טלפון של הרכז" [(ngModel)]="$any(newUser).coordPhone"
                #coordPhone="ngModel" />
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="dialogType === 'clubCoord'">

            <mat-form-field>
              <textarea required name="club" matInput placeholder="{{actionHebrew[action]}} שם מועדון"
                [(ngModel)]="$any(newUser).club" #club="ngModel"></textarea>
              <mat-error *ngIf="club.invalid && (club.dirty || club.touched)">
                <div *ngIf="club.errors?.required">
                  שדה זה הינו חובה.
                </div>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <textarea required name="address" matInput placeholder="{{actionHebrew[action]}} כתובת"
                [(ngModel)]="$any(newUser).address" #address="ngModel"></textarea>
              <mat-error *ngIf="address.invalid && (address.dirty || address.touched)">
                <div *ngIf="address.errors?.required">
                  שדה זה הינו חובה.
                </div>
              </mat-error>
            </mat-form-field>

          </ng-container>

          <ng-container *ngIf="dialogType === 'areaCoord'">
            <mat-form-field>
              <input type="text" pattern="\d*" name="phone" matInput placeholder="{{actionHebrew[action]}} מספר טלפון"
                [(ngModel)]="newUser.phone" #phone="ngModel" />
              <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                <div *ngIf="phone.errors?.required">
                  שדה זה הינו חובה.
                </div>
              </mat-error>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="dialogType === 'manager' || dialogType === 'clubCoord'">
            <mat-form-field>
              <input type="text" pattern="\d*" required="dialogType==='manager'" name="phone" matInput
                placeholder="{{actionHebrew[action]}} מספר טלפון" [(ngModel)]="newUser.phone" #phone="ngModel" />
              <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                <div *ngIf="phone.errors?.required">
                  שדה זה הינו חובה.
                </div>
              </mat-error>
            </mat-form-field>
          </ng-container>

          <!-- neighborhoods checkboxes -->
          <ng-container *ngIf="(dialogType === 'areaCoord' || dialogType === 'manager') ">
            <mat-label><b>{{actionHebrew[action]}} שכונות </b>*</mat-label>
            <br>
            <mat-error *ngIf="dialogType === 'areaCoord'">חובה לבחור לפחות שכונה אחת</mat-error>
            <mat-error *ngIf="dialogType === 'manager'">לבחור שכונה אחת בלבד</mat-error>
            <span>
              <ul class="checkBoxes">
                <li *ngFor="let neighb of local_data.allNeighborhoods">
                  <mat-checkbox name="neighborhoods" [(ngModel)]="neighb.currentValue" #neighborhoods="ngModel">
                    {{neighb.id}}
                  </mat-checkbox>
                </li>
              </ul>
            </span>
          </ng-container>

        </ng-container>
      </ng-template>

      <ng-template #editEventsTemplate>
        <ng-container *ngIf="dialogType === 'editEvent' && action != 'Delete'; else sendMailTemplate ">
          <mat-form-field appearance="fill">
            <mat-label>{{actionHebrew[action]}} תאריך</mat-label>
            <input matInput required id="date2" name="date2" [matDatepicker]="picker2" [(ngModel)]="newEvent.date"
              #date2="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 disabled="false"></mat-datepicker>
            <mat-error *ngIf="date2.invalid && (date2.dirty || date2.touched)">
                שדה התאריך הינו חובה.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea required name="title" matInput placeholder="{{actionHebrew[action]}} כותרת"
              [(ngModel)]="newEvent.title" #title="ngModel"></textarea>
            <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
                שדה זה הינו חובה.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <textarea name="description" matInput placeholder="{{actionHebrew[action]}} תיאור"
              [(ngModel)]="newEvent.description" #description="ngModel"></textarea>
          </mat-form-field>

          <mat-label>{{actionHebrew[action]}} תמונה</mat-label>
          <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
          <div dir="rtl" class="file-upload">
            <button class="mat-elevation-z1" mat-mini-fab color="primary" (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
            &nbsp;
            {{ uploadedFile?.name || "עדיין לא נבחרה תמונה"}}
          </div>

        </ng-container>
      </ng-template>

      <ng-template #sendMailTemplate>
        <ng-container *ngIf="dialogType === 'sendMail' && action != 'Delete'; else editTemplates ">
          <h3 style="text-decoration: underline;">{{local_data.count}} משתמשים נבחרו</h3>

          <label> <strong>תבניות מוכנות</strong> </label>
          <ul class="checkBoxes">
            <mat-radio-group>
              <mat-radio-button *ngFor="let template of templates |keyvalue" [value]="template.key"
                (change)="fillFeilds($event)">
                {{template.key}}
              </mat-radio-button>
            </mat-radio-group>
          </ul>

          <mat-form-field appearance="fill">
            <mat-label>נושא</mat-label>
            <input matInput name="mailSubject" type="text" required [(ngModel)]="local_data.mailSubject"
              #mailSubject="ngModel">
            <mat-error>שדה חובה</mat-error>
          </mat-form-field>

          <mat-form-field appearance='outline'>
            <mat-label>תוכן</mat-label>
            <textarea style="min-height: 150px;" required name="mailContent" matInput
              [(ngModel)]="local_data.mailContent" #mailContent="ngModel"></textarea>
            <mat-error>שדה חובה</mat-error>
          </mat-form-field>

        </ng-container>
      </ng-template>

      <ng-template #editTemplates>
        <ng-container *ngIf="dialogType === 'editTemplates' && action != 'Delete'; else elseTemplate ">
          <ul class="checkBoxes">
            <mat-radio-group>
              <mat-radio-button style="margin: 0;" *ngFor="let template of templates |keyvalue" [value]="template.key"
                (change)="fillFeilds($event)">
                {{template.key}}
              </mat-radio-button>
            </mat-radio-group>
          </ul>

          <mat-form-field appearance="fill">
            <mat-label>נושא</mat-label>
            <input matInput name="mailSubject" type="text" required [(ngModel)]="local_data.mailSubject"
              #mailSubject="ngModel">
            <mat-error>שדה חובה</mat-error>
          </mat-form-field>

          <mat-form-field appearance='outline'>
            <mat-label>תוכן</mat-label>
            <textarea style="min-height: 150px;" required name="mailContent" matInput
              [(ngModel)]="local_data.mailContent" #mailContent="ngModel"></textarea>
            <mat-error>שדה חובה</mat-error>
          </mat-form-field>

          <button mat-stroked-button [disabled]="projForm.invalid" color='primary' style="margin-left:5px"
            (click)="addTemplate()">הוסף</button>
          <button mat-stroked-button [disabled]="projForm.invalid" color='warn' (click)="deleteTemplate()"
            style="margin-left:5px">מחק</button>
          <button mat-stroked-button [disabled]="projForm.invalid" color='basic'
            (click)="updateTemplate()">עדכן</button>
        </ng-container>
      </ng-template>

      <ng-template class="delete" #elseTemplate>
      </ng-template>
    </form>
  </div>

  <ng-template #actions>
    <ng-container
      *ngIf="dialogType === ('editTemplates') && action != 'Delete'; else elseActions ">
      <button mat-button mat-dialog-close mat-flat-button>סגור</button>
    </ng-container>
  </ng-template>

  <ng-template #elseActions>
    <button [disabled]="projForm.invalid" color="warn" mat-stroked-button
      (click)="doAction()">{{actionHebrew[action]}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button>בטל</button>
  </ng-template>

  <mat-dialog-actions>
    <ng-container *ngTemplateOutlet="actions"></ng-container>
  </mat-dialog-actions>

</div>