<div class="body">
  <h2 mat-dialog-title><strong>{{dialogTitle}}</strong></h2>

  <div mat-dialog-content>
    <form #projForm="ngForm" class="frm">

      <ng-container
        *ngIf="(dialogType === 'needs' || dialogType === 'resetPass') && action != 'Delete'; else projectTemplate">
        <mat-form-field>
          <textarea required name="name" matInput [(ngModel)]="local_data.name" #name="ngModel"></textarea>
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors?.required">
              שדה זה הינו חובה.
            </div>
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-template #projectTemplate>
        <ng-container *ngIf="dialogType === 'project' && newProj && action != 'Delete'; else neighbTemplate">
          <mat-form-field appearance="fill">
            <mat-label>{{actionHebrew[action]}} תאריך</mat-label>
            <input matInput required id="date" name="date" [matDatepicker]="picker" [(ngModel)]="newProj.date"
              #date="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>

            <mat-error *ngIf="date.invalid && (date.dirty || date.touched)">
              <div *ngIf="date.errors?.required">
                שדה התאריך הינו חובה.
              </div>
            </mat-error>
          </mat-form-field>

          <mat-label><b>{{actionHebrew[action]}} מועדון </b>*</mat-label>
          <mat-radio-group class="radio_group" required name="clubCoordinatorId" [(ngModel)]="newProj.clubCoordinatorId">
            <mat-radio-button *ngFor="let clubCoord of local_data.clubs" [value]="clubCoord.id">
              {{clubCoord.name}}<br>{{clubCoord.club}}<br>{{clubCoord.address}}
            </mat-radio-button>
          </mat-radio-group>

          <!--TODO: error message not showing-->
          <!-- <div
              *ngIf="newProj.clubCoordinatorId.invalid && (newProj.clubCoordinatorId.dirty || newProj.clubCoordinatorId.touched)"
              class="alert">
              <mat-error *ngIf="newProj.clubCoordinatorId.errors?.required">
                שדה המועדון הינו חובה.
              </mat-error>
            </div> -->

          <mat-form-field>
            <input matInput id="projectType" name="projectType" required placeholder="{{actionHebrew[action]}} סוג מיזם"
              [(ngModel)]="newProj.projectType" #projectType="ngModel">
            <mat-error *ngIf="projectType.invalid && (projectType.dirty || projectType.touched)">
              <div *ngIf="projectType.errors?.required">
                שדה סוג מיזם הינו חובה.
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput id="comments" name="comments" placeholder="{{actionHebrew[action]}} הערות"
              [(ngModel)]="newProj.comments"></textarea>
          </mat-form-field>

        </ng-container>
      </ng-template>


      <ng-template #neighbTemplate>
        <ng-container *ngIf="dialogType === 'neighb' && newNeighb && action != 'Delete'; else coordTemplate">

          <mat-form-field>
            <textarea required name="id" matInput placeholder="{{actionHebrew[action]}} שם השכונה"
              [(ngModel)]="newNeighb.id" #id="ngModel"></textarea>
            <mat-error *ngIf="id.invalid && (id.dirty || id.touched)">
              <div *ngIf="id.errors?.required">
                שדה זה הינו חובה.
              </div>
            </mat-error>
          </mat-form-field>

          <mat-label><b>{{actionHebrew[action]}} מנהל תחום </b>*</mat-label>
          <mat-radio-group name="managerId" [(ngModel)]="newNeighb.managerId">
            <mat-radio-button *ngFor="let manager of local_data.managers" [value]="manager.id">
              {{manager.name}}<br>{{manager.phone}}<br>{{manager.email}}
            </mat-radio-button>
          </mat-radio-group>

        </ng-container>
      </ng-template>

      <ng-template #coordTemplate>
        <ng-container *ngIf="(dialogType === 'areaCoord' || dialogType === 'clubCoord' || dialogType === 'manager') 
         && newUser && action != 'Delete'; else eventsTemplate">

          <ng-container *ngIf="dialogType === 'areaCoord' || dialogType === 'manager'">
            <mat-error *ngIf="invalidCreation">המייל שהוכס כבר קיים</mat-error>
            <mat-form-field>
              <input type="email" name="email" matInput placeholder="{{actionHebrew[action]}} מייל"
                [(ngModel)]="$any(newUser).email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
              <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors?.required">
                  שדה זה הינו חובה.
                </div>
                <div *ngIf="email.errors?.pattern">המייל שהוכס אינו תקין</div>
              </mat-error>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="dialogType === 'areaCoord' ">
            <mat-form-field>
              <textarea required name="password" matInput placeholder="{{actionHebrew[action]}} סיסמא"
                [(ngModel)]="newPassword" #password="ngModel"></textarea>
              <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.required">
                  שדה זה הינו חובה.
                </div>
              </mat-error>
            </mat-form-field>
          </ng-container>

          <mat-form-field>
            <textarea required name="name" matInput placeholder="{{actionHebrew[action]}} שם" [(ngModel)]="newUser.name"
              #name="ngModel"></textarea>
            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
              <div *ngIf="name.errors?.required">
                שדה זה הינו חובה.
              </div>
            </mat-error>
          </mat-form-field>

          <ng-container *ngIf="dialogType === 'clubCoord'">
            <mat-form-field>
              <input name="coordPhone" matInput placeholder="{{actionHebrew[action]}} מספר טלפון של הרכז"
                [(ngModel)]="$any(newUser).coordPhone" #coordPhone="ngModel" />
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="dialogType === 'clubCoord'">

            <mat-form-field>
              <textarea required name="club" matInput placeholder="{{actionHebrew[action]}} שם מועדון"
                [(ngModel)]="$any(newUser).club" #club="ngModel"></textarea>
              <mat-error *ngIf="club.invalid && (club.dirty || club.touched)">
                <div *ngIf="club.errors?.required">
                  שדה זה הינו חובה.
                </div>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <textarea required name="address" matInput placeholder="{{actionHebrew[action]}} כתובת"
                [(ngModel)]="$any(newUser).address" #address="ngModel"></textarea>
              <mat-error *ngIf="address.invalid && (address.dirty || address.touched)">
                <div *ngIf="address.errors?.required">
                  שדה זה הינו חובה.
                </div>
              </mat-error>
            </mat-form-field>

          </ng-container>

          <ng-container *ngIf="dialogType === 'areaCoord'">
            <mat-form-field>
              <input name="phone" matInput placeholder="{{actionHebrew[action]}} מספר טלפון" [(ngModel)]="newUser.phone"
                #phone="ngModel" />
              <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                <div *ngIf="phone.errors?.required">
                  שדה זה הינו חובה.
                </div>
              </mat-error>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="dialogType === 'manager' || dialogType === 'clubCoord'">
            <mat-form-field>
              <input required="dialogType==='manager'" name="phone" matInput
                placeholder="{{actionHebrew[action]}} מספר טלפון" [(ngModel)]="newUser.phone" #phone="ngModel" />
              <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                <div *ngIf="phone.errors?.required">
                  שדה זה הינו חובה.
                </div>
              </mat-error>
            </mat-form-field>
          </ng-container>

          <!-- neighborhoods checkboxes -->
          <ng-container *ngIf="(dialogType === 'areaCoord' || dialogType === 'manager') ">
            <mat-label><b>{{actionHebrew[action]}} שכונות </b>*</mat-label>
            <br>
            <mat-error *ngIf="dialogType === 'areaCoord'">חובה לבחור לפחות שכונה אחת</mat-error>
            <mat-error *ngIf="dialogType === 'manager'">לבחור שכונה אחת בלבד</mat-error>
            <span>
              <ul class="checkBoxes">
                <li *ngFor="let neighb of local_data.allNeighborhoods">
                  <mat-checkbox name="neighborhoods" [(ngModel)]="neighb.currentValue" #neighborhoods="ngModel">
                    {{neighb.id}}
                  </mat-checkbox>
                </li>
              </ul>
            </span>
          </ng-container>

        </ng-container>
      </ng-template>

      <ng-template #eventsTemplate>
        <ng-container *ngIf="dialogType === 'event' && action != 'Delete'; else elseTemplate ">
          <mat-form-field appearance="fill">
            <mat-label>{{actionHebrew[action]}} תאריך</mat-label>
            <input matInput required id="date2" name="date2" [matDatepicker]="picker2" [(ngModel)]="newEvent.date"
              #date2="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 disabled="false"></mat-datepicker>
            <mat-error *ngIf="date2.invalid && (date2.dirty || date2.touched)">
              <div *ngIf="date2.errors?.required">
                שדה התאריך הינו חובה.
              </div>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea required name="title" matInput placeholder="{{actionHebrew[action]}} כותרת"
              [(ngModel)]="newEvent.title" #title="ngModel"></textarea>
            <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
              <div *ngIf="title.errors?.required">
                שדה זה הינו חובה.
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <textarea name="description" matInput placeholder="{{actionHebrew[action]}} תיאור"
              [(ngModel)]="newEvent.description" #description="ngModel"></textarea>
          </mat-form-field>

          <mat-label>{{actionHebrew[action]}} תמונה</mat-label>
          <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
          <div class="file-upload">
            {{ uploadedFile?.name || "עדיין לא נבחרה תמונה"}}
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <!-- <div class="progress">
            <mat-progress-bar class="progress-bar" mode="determinate"
                              [value]="uploadProgress" *ngIf="uploadProgress">
            </mat-progress-bar>
            <mat-icon class="cancel-upload" (click)="cancelUpload()" 
                      *ngIf="uploadProgress">delete_forever</mat-icon>
          </div> -->

        </ng-container>
      </ng-template>


      <ng-template class="delete" #elseTemplate>
      </ng-template>

    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button [disabled]="projForm.invalid" color="warn" (click)="doAction()">{{actionHebrew[action]}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button>בטל</button>
  </div>

</div>