.body{
    padding-top: 12vh;
}
mat-tab-group{
    margin: 2% 10% 0px 10%;
}
mat-card{
    margin: 20px;
}
mat-card-content{
    width: 60%;
}
.contact{
    margin-top: 30px;
}
.example-header-image {
    background-image: url('https://cdn1.iconfinder.com/data/icons/avatars-13/64/_Cool-512.png');
    background-size: cover;
}
.filter{
    width: 80%;
    margin:15px;
}