<div class="body">

    <div class="rightDiv">
        <mat-card class="firstCard" dir="rtl">
            <div class="profileImg">
                <img width="auto" height="auto" src="../../assets/imgs/profile.jpg">
            </div>
            <mat-card-header>
                <mat-card-title>פרופיל</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="fields">
                    <p> שם: </p>
                    <p> אמאני נאשף</p>
                </div>

                <!-- <div class="fields">
                    <p> אימייל: </p>
                    <p> gasgsagsa@gsa.com</p>
                </div>

                <div class="fields">
                    <p> טלפון: </p>
                    <p> 052154214</p>
                </div>

                <div class="fields">
                    <p> כתובת: </p>
                    <p> gasgsagsa@gsa.com</p>
                </div> -->
            </mat-card-content>
        </mat-card>
    </div>

    <div class="leftDiv">
        <mat-card class="secondCard" dir="rtl">
            <mat-card-header>
                <mat-card-title>פרטים</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="fields">
                    <p> גיל: </p>
                    <p> 19</p>
                </div>
<!-- 
                <div class="fields">
                    <p> מין: </p>
                    <p> לא רלוונטי</p>
                </div>
                <div class="fields">
                    <p> מס' ימיים התנדבות בשהוע: </p>
                    <p> 2</p>
                </div>
                <div class="fields">
                    <p> כמות שעות התנדבות ביום: </p>
                    <p> 6</p>
                </div>
                <div class="fields">
                    <p> מוגדר כ: </p>
                    <p> סטודנט</p>
                </div> -->
            </mat-card-content>
        </mat-card>

        <mat-card class="thirdCard" dir="rtl">
            <mat-card-header>
                <mat-card-title>תחומי עניין</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="fields">
                    <p> מעוניין ב: </p>
                    <p> הרצאות,חבר טלפוני</p>
                </div>
                <!-- <div class="fields">
                    <p> שפות: </p>
                    <p> ערבית, אנגלית,רוסית</p>
                </div> -->
            </mat-card-content>
        </mat-card>
    </div>

</div>