<div class="body" *ngIf="userInfo">

    <div class="rightDiv">
        <mat-card class="firstCard" dir="rtl">
            <div style="display:flex; flex-direction: row; justify-content: space-around;">
                <button mat-button>save changes</button>
                <div class="profileImg">
                    <img width="auto" height="auto" src="../../assets/imgs/profile.jpg">
                </div>
                <button mat-button>delete acc</button>
            </div>
            <mat-card-header>
                <mat-card-title>פרופיל</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="fields">
                    <p class="title"> שם: </p>
                    <p class="info">{{userInfo?.fName}}</p>
                </div>

                <div class="fields">
                    <p class="title"> שם: </p>
                    <p class="info">{{userInfo?.lName}}</p>
                </div>

                <div class="fields">
                    <p class="title"> אימייל: </p>
                    <!-- <mat-form-field class="example-form-field" appearance="standard">
                        <input matInput type="text" name="name" value={{userInfo?.email}}
                            style="width: fit-content; box-decoration-break: none;" />
                    </mat-form-field> -->
                    <p class="info"> {{userInfo?.email}}</p>
                </div>

                <div class="fields">
                    <p class="title"> טלפון: </p>
                    <!-- <mat-form-field class="example-form-field" appearance="standard">
                        <input class="info" matInput type="text" name="name" value={{userInfo?.phone}}
                        [(ngModel)]="userInfo.phone" />
                    </mat-form-field> -->
                    <p class="info"> {{userInfo?.phone}}</p>

                </div>

                <div class="fields">
                    <p class="title"> רחוב: </p>
                    <!-- <mat-form-field class="example-form-field" appearance="standard">
                        <input class="info" matInput type="text" name="name" value={{userInfo?.street}}
                            style="width: fit-content;" />
                    </mat-form-field> -->
                    <p class="info"> {{userInfo?.street}} </p>
                </div>

                <div class="fields">
                    <p class="title"> שכונה: </p>
                    <p class="info"> {{userInfo?.neighborhood}} </p>
                </div>

                <div class="fields">
                    <p class="title"> עיר: </p>
                    <p class="info"> {{userInfo?.city}} </p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="leftDiv">
        <mat-card class="secondCard" dir="rtl">
            <mat-card-header>
                <mat-card-title>פרטים</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="fields">
                    <p class="title"> גיל: </p>
                    <p class="info"> {{userInfo?.age}}</p>
                    <mat-icon>edit</mat-icon>
                </div>

                <div class="fields">
                    <p class="title"> מין: </p>
                    <p class="info"> {{userInfo?.gender}} </p>
                </div>
                <div class="fields">
                    <p class="title"> מס' ימיים התנדבות בשבוע: </p>
                    <p class="info"> {{userInfo?.numOfDays}}</p>
                </div>
                <div class="fields">
                    <p class="title"> כמות שעות התנדבות ביום: </p>
                    <p class="info"> {{userInfo?.numOfHours}}</p>
                </div>
                <div class="fields">
                    <p class="title"> מוגדר כ: </p>
                    <p class="info"> {{userInfo?.volType}}</p>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="thirdCard" dir="rtl">
            <mat-card-header>
                <mat-card-title>תחומי עניין</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="fields">
                    <p class="title"> מעוניין ב: </p>
                    <p class="info"> {{userInfo?.hobbies}}</p>
                </div>
                <div class="fields">
                    <p class="title"> שפות: </p>
                    <p class="info"> {{userInfo?.langs}}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>