.body{
    padding-top: 15vh;
}
form{
    padding:50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.rightDiv,.leftDiv{
    flex: 1;
}
.firstCard{
    width: 95%;
    height: fit-content;
    mat-card-header{
        padding-bottom: 10%;
    }
}

.img-btns{
    display:flex; 
    flex-direction: row; 
    justify-content: space-around;
    padding: 6% 0;
    flex-wrap: wrap;
    button{
        margin: 2%;
    }
}
.secondCard{
    width: 95%;
    height: fit-content;
}

.profileImg{
    text-align: center;
}
mat-card-content{
    margin-top: 15px;
}
mat-card-title{
    color: gray;
}

.fields{
    display: flex;
    // justify-content:space-between;
    font-size: medium;
    font-weight: bold;
    .title{
        flex-grow: 2;
    }
    .info{
        flex-grow: 0;
    }
}

.thirdCard{
    margin-top: 2%;
    height: fit-content;
    width: 95%;
    mat-card-content{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
    .fields{
        display: flex;
        flex-direction: column;
    }
    .title{
        flex-grow: 0;
    }
}

.checks{
    margin-right: 8px;
    font-size: 14px;
}
.checBox{
    height: 15px;
    width: 20px;
}
.checksLabel{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis:25%
}


::ng-deep .mat-form-field {
    min-width: 30px !important;
    width: fit-content !important;
}

::ng-deep .mat-form-field-infix {
    min-width: 30px !important;
    width: fit-content !important;
}


@media screen and (max-width: 800px) {
    form{
        flex-direction: column;
        padding:20px;
        display: flex;
    }
    .firstCard,.secondCard, .thirdCard{
        width: 98%;
        margin-top: 2%;
        height: auto;
        min-height: fit-content;
    }
}

@media screen and (max-height: 565px) {
    form{
        flex-direction: column;
        padding: 20px;
        display: flex;
    }
    .firstCard,.secondCard, .thirdCard{
        width: 98%;
        margin-top: 2%;
        height: auto;
        min-height: fit-content;
    }
}