// $drawer-bkg-color: #F4F7FA; #FAFAFA
$drawer-bkg-color: #f3f7fA; //default
$mngr-dtls-bkg-color: #a3a5a7;


mat-toolbar {
    background: #3F51B5;
    color: white;
}

.menu-header{
    display: flex;
    background-color:$drawer-bkg-color;
}

.spacer {
    flex: 1 1 auto;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

mat-drawer {
    // margin: 16px;
    width: 200px;
    border-right: none;
    background: $drawer-bkg-color;
    // color: white;
    // border-radius: 10px;
    // padding: 16px;
    text-align: center;
}

.exp-title{
    justify-content: flex-end;
}

.title {
    margin-top: 8px;
    font-weight: normal;
}


.mat-expansion-panel{
    background: $drawer-bkg-color;
}
.mat-expansion-panel.mat-expanded,
.mat-expansion-panel.mat-expanded:focus,
.mat-expansion-panel.mat-expanded:hover {
    background: white;
}


mat-drawer-container {
    // height: 100%;
    height: calc(100vh - 65px);
}

.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.neighbs-menu-btn {
    min-width: 20%;
    height: 70px;
    margin: 20px;
    // display: flex;
    // flex-direction: row-reverse;
    // justify-content: space-evenly;
    // align-items: center;
}

.neighb-name {
    font-size: xx-large;
    font-weight: bolder;
    margin: 30px;
}

.mngr-details-container{
    text-align: right;
    background-color: $mngr-dtls-bkg-color;
    margin: 10px;
}

.mngr-details{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.mat-form-field {
    font-size: 14px;
    margin: 10px;
    width: calc(100% - 128px);
}
.menu-button{
    border-left-color: white;
}

.tableBtn{
    margin: 5px 0 5px 5px;
}