<div class="body">
<mat-accordion dir="rtl">
    <div *ngFor="let item of items; let i=index" id="{{'item'+i}}" class="panelBox">
        <mat-expansion-panel class="cards">
            <mat-expansion-panel-header class="panelHeader">
                <mat-panel-title>
                    <p class="title">{{item.nameH}}</p>
                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="contentWrapper">
                <div *ngFor="let content of item.content; index as i" class="singleContentBox">
                    <mat-icon class="delete" (click)="openDialog('Delete', {}, item.collec, content.id, item.type)">do_not_disturb_on
                    </mat-icon>
                    <div class="content">
                        <div>{{content.name}}</div>
                        <div *ngIf="item.type==='neighb'">{{content.id}}</div>
                        <div>{{content.email}}</div>
                        <div>{{content.phone}}</div>
                        <div>{{content.club}}</div>
                    </div>
                    <!-- <mat-icon (click)="openDialog('Update', {}, item.collec, content.id, item.type)">edit</mat-icon> -->
                </div>
            </div>

            <div class="addButtons">
                <button *ngIf="item.type==='neighb'" mat-stroked-button color="primary"
                    (click)="openDialog('Add', {}, item.collec, undefined, item.type)">הוסף שכונה לירושלים</button>
                <!-- <button *ngIf="item.type==='areaCoord'" mat-stroked-button color="primary"
                    (click)="openDialog('Add', {}, item.collec, undefined, item.type, true)">Add area coordinator
                    (super admin) to
                    jerusalem</button> -->
                <button *ngIf="item.type==='areaCoord'" mat-stroked-button color="primary"
                    (click)="openDialog('Add', {}, item.collec, undefined, item.type)">הוסף רכז אזור</button>
                <button *ngIf="item.type==='manager'" mat-stroked-button color="primary"
                    (click)="openDialog('Add', {}, item.collec, undefined, item.type)">הוסף מנהל גיל שלישי</button>
                <button *ngIf="item.type==='clubCoord'" mat-stroked-button color="primary"
                    (click)="openDialog('Add', {}, item.collec, undefined, item.type)">הוסף רכז מועדון</button>
            </div>

        </mat-expansion-panel>
    </div>
</mat-accordion>
</div>